---
import BaseLayout from "../../layouts/BaseLayout.astro"
import SkateSpot from "../../components/SkateSpot.astro"
const spots = Astro.fetchContent("./**/*.md")
---

<BaseLayout title="Hamburg | Skating Places">
  <div class="container">
    {spots.map((spot) => <SkateSpot spot={spot} />)}
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    flex-direction: column;
  }
</style>
