---
import BaseLayout from "../layouts/BaseLayout.astro"
import SkateSpot from "../components/SkateSpot.astro"

export async function getStaticPaths() {
  const cities = Astro.fetchContent("../content/cities/*.md")

  return cities.map((city) => {
    return {
      params: { city: city?.slug?.length > 0 ? city.slug : city.name.toLowerCase() },
      props: { city },
    }
  })
}
const { city } = Astro.props

const spots = Astro.fetchContent("../content/skatespots/*.md")
const localSpots = spots.filter((spot) => spot.city === city.name)
---

<BaseLayout title="Hamburg | Skating Places">
  <div class="container">
    {localSpots.map((spot) => !spot.notListed && <SkateSpot spot={spot} />)}
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    flex-direction: column;
  }
</style>
