---
import BaseLayout from "../layouts/BaseLayout.astro"
import City from "../components/City.astro"

const cities = Astro.fetchContent("../content/cities/*.md")
---

<BaseLayout>
  <div class="container">
    {cities.map((city) => <City {city} />)}
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    flex-direction: column;
  }
</style>
