---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="container">There will be skating places soon! ✌️</div>
</BaseLayout>

<style>
  .container {
    height: 100vh;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
