---
import BaseLayout from "../layouts/BaseLayout.astro"
import City from "../components/City.astro"

const cities = Astro.fetchContent("../content/cities/*.md")
---

<BaseLayout>
  <div class="container">
    <div class="container">There will be skating places soon! ✌️</div>
  </div>
</BaseLayout>

<style>
  .container {
    height: 100vh;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
