---
import BaseLayout from "../layouts/BaseLayout.astro"
import City from "../components/City.astro"
---

<BaseLayout>
  <div class="container">
    <City city="hamburg" background="/assets/images/hamburg.jpg" />
  </div>
</BaseLayout>
