---
import BaseLayout from "../layouts/BaseLayout.astro"
import City from "../components/City.astro"
import background from "./hamburg/hamburg.jpg"
---

<BaseLayout>
  <div class="container">
    <City city="hamburg" background={background} />
  </div>
</BaseLayout>
