---
const { city, background } = Astro.props
---

<a href={city} class="cityCard" style="background-image: url(${background});">
  {city}
</a>

<style lang="scss">
  .cityCard {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 80px;
    padding: 10px;
    position: relative;
    width: 100%;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;

    &:before {
      content: "";
      background: linear-gradient(to right, #bba2e1, #d0beef);
      opacity: 0.3;
      height: 100%;
      border-radius: 10px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
    &:after {
      content: "";
      background: #ece1ff;
      border-radius: 10px;
      height: 100%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 10%;
      width: 97%;
      z-index: -1;
    }
  }
</style>
