<div class="container">
  <a href="/" class="logo">Skating Places</a>
</div>

<style>
  .container {
    margin-top: 2rem;
  }

  .logo {
    display: inline;
    color: white;
    background-color: #2b4762;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
</style>
