<div class="container">
  <a href="/" class="logo">Skating <br /> Places 🛹</a>
</div>

<style>
  .container {
    margin: 30px 0;
  }

  .logo {
    color: black;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
  }
</style>
